{extend name="public/single" /}
{block name="body"}
<style>
    .layui-form-selected dl {
        z-index: 9999;
    }
</style>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">新增banner</div>
            <div class="layui-card-body">
                <form action="{:url('')}" class="layui-form" lay-filter="example" method="post">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">基本信息</li>
                            <!-- <li>产品设置</li> -->
                        </ul>
                        <div class="layui-tab-content layui-row">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">banner名称：</label>
                                    <div class="layui-input-block">
                                        <input class="layui-input" lay-verify="required" name="name"
                                               type="text">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">banner图片：</label>
                                    <div class="layui-input-block">
                                        <div class="zz-upload-pic">
                                            <button class="layui-btn zzBtnUploadPicMultiple" type="button">
                                                <i class="layui-icon">&#xe67c;</i>上传图片
                                            </button>
                                            <input class="zz-upload-value" name="piclist" type="hidden" value="">
                                            <div class="zz-upload-pic-show layui-row"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">设置状态：</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="status" lay-text="显示|隐藏" lay-skin="switch" value="1" checked>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-filter="zz-btn-submit" lay-submit="" type="submit">立即提交
                            </button>
                            <button class="layui-btn layui-btn-primary zz-btn-cancel" type="button">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
