{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">banner列表 </div>
            <div class="layui-card-body">
                <div class="layui-row zz-row-operate">
                    <div class="zz-operate-btn-group">
                        <a class="layui-btn open-win" title="新增banner" href="{:url('add')}">新 增</a>
                        <a class="layui-btn layui-btn-danger zz-btn-delete-all" href="{:url('del')}">批量删除</a>
                    </div>
                </div>

                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th width="18px">
                                <input type="checkbox" lay-filter="zz-checkbox-table" lay-skin="primary">
                            </th>
                            <th>ID</th>
                            <th>名称</th>
                            <th>时间</th>
                            <th>是否隐藏</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo"}
                        <tr>
                            <td><input type="checkbox" class="zz-table-chk-item" value="{$vo.id}" lay-skin="primary"></td>
                            <td>{$vo.id}</td>
                            <td><a class="layui-table-link" href="{:url('index?pid='.$vo['id'])}">{$vo.name}</a></td>
                            <td>{$vo.updated_at}</td>

                            <td class="layui-table-cell">
                               <input type="checkbox" lay-filter="zz-switch-display"  data-href="{:url('hide?id='.$vo['id'])}" name="hide" value="{$vo.status}" {$vo.status==1?'checked':''} lay-skin="switch" lay-text="显示|隐藏">
                            </td>
                            <td>
                                <a href="{:url('add?pid='.$vo['id'])}" class="layui-btn layui-btn-primary layui-btn-xs open-win" title="添加后台子菜单">添加子菜单</a>
                                <a href="{:url('edit?id='.$vo['id'])}" class="layui-btn layui-btn-xs layui-btn-normal open-win" title="编辑后台菜单">编辑</a>
                                <a href="{:url('del?ids='.$vo['id'])}" class="layui-btn layui-btn-danger layui-btn-xs confirm ajax-post">删除</a>
                            </td>
                        </tr>
                        {/volist}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

{/block}